<!doctype html>
{% load static widget_tweaks %}
{% load wagtailcore_tags wagtailimages_tags custometags %}

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>KISMAT PETROLIUM</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% static 'resources/images/logo.png' %}" sizes="100x100" type="image/png">
        
    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
        
    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.css' %}">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'resources/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/slick/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/slick/slick/slick-theme.css' %}"/>


    <!-- ManyChat -->
<script src="//widget.manychat.com/100821988548005.js" async="async"></script>
      

      
</head>

<body>
   
    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
    <section class="navbar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                       
                        <a class="navbar-brand" href="#home">
                            <img src="{% static 'resources/images/logo.png' %}" alt="Logo">
                        </a>
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTwo" aria-controls="navbarTwo" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarTwo">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item active"><a class="page-scroll" href="#home">HOME</a></li>
                                <li class="nav-item"><a class="page-scroll" href="#services">WHAT WE DO</a></li>
                                <!-- <li class="nav-item"><a class="page-scroll" href="#about">About</a></li> -->
                               
                                <li class="nav-item"><a class="page-scroll" href="#portfolio">OUR PRODUCTS</a></li>
                                <li class="nav-item"><a class="page-scroll" href="#about">ABOUT</a></li>
                                
                                <li class="nav-item"><a class="page-scroll" href="#team">VISION & MISSION</a></li>
                                <!-- <li class="nav-item"><a class="page-scroll" href="#pricing">Blog</a></li> -->
                                <li class="nav-item"><a class="page-scroll" href="#contact">CONTACTS</a></li>
                            </ul>
                        </div>
                        
                      
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

   
    <section id="home" class="slider_area">
        <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                
                    <div class="carousel-item active">
                        {% image first_image.image original class="d-block w-100" %}
                        <div class="carousel-caption d-md-block d-sm-block">
                            <h3 class="mb-3">{{first_image.caption}}</h3>
                           
                          </div>
                        <div class="black-overlay"></div>
                    </div>
            
                {%for i in image_list %}
              <div class="carousel-item ">
                {% image i.image original class="d-block w-100" %}
                <div class="carousel-caption d-md-block d-sm-block">
                    <h3 class="mb-3">{{i.caption}}</h3>
                   
                  </div>
                <div class="black-overlay"></div>
            </div>
            {% endfor %}
              
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </section>
   
    <section id="services" class="features-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">WHAT WE DO</h3>
                        
                    </div> 
                </div>
            </div> 
            <div class="row slick justify-content-center">
                {% for w in whatwedos %}
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        {% image w.image max-400x200 class="wcenter" %}
                        
                        <div class="features-content">
                            <a class="features-btn">{{w.title}}</a>
                            <p class="text">{{w.description|richtext}}</p>
                            
                        </div>
                    </div> 
                </div>
                {% endfor %}
               
               

                
            </div> 
        </div> 
    </section>

    <section id="portfolio" class="portfolio-area portfolio-four pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title2 text-center pb-10">
                        <h3 class="title">OUR PRODUCTS</h3>
                       
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="portfolio-menu text-center mt-50">
                        <ul>
                            <li data-filter="*" class="active">ALL</li>
                            <li data-filter=".base-oil" >BASE OIL</li>
                            <li data-filter=".fuel-oil">FUEL OIL</li>
                            <li data-filter=".bitumen">BITUMEN</li>
                            <li data-filter=".rubber-process-oil">RUBBER PROCESS OIL</li>
                            <li data-filter=".solvents">SOLVENTS</li>
                            <li data-filter=".gas-oil">GAS OIL</li>
                            <li data-filter=".polymers">POLYMERS</li>
                            <li data-filter=".lpg">LPG</li>
                            <li data-filter=".lubricants">LUBRICANTS</li>
                        </ul>
                    </div> 
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row no-gutters grid mt-50">
                       {% for product in productpages %} 
                       {% if product.slug == "lubricants" %}
                       <div class="col-lg-4 col-sm-6 {{product.slug}}">
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                {% image product.image width-400 height-280 %}
                                <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                    <div class="portfolio-content">
                                        <div class="portfolio-icon">
                                            <p class="cardtitle">{{product.title}}</p>
                                            <a class="btn cardbtn" href="http://www.dynamolubricants.com/">More >></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                       {% else %}
                        <div class="col-lg-4 col-sm-6 {{product.slug}}">
                            <div class="single-portfolio">
                                <div class="portfolio-image">
                                    {% image product.image width-400 height-280 %}
                                    <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                        <div class="portfolio-content">
                                            <div class="portfolio-icon">
                                                <p class="cardtitle">{{product.title}}</p>
                                                <a class="btn cardbtn" href="{% pageurl product %}">More >></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        {% endif %}
                        {% endfor %}
                      
                       
                       
                        
                    </div> 
                </div>
            </div> 
        </div> 
    </section>

   
    <section id="about" class="about-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">ABOUT US</h3>
                        <p class="text"></p>
                    </div> 
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-6">
                    <div class="testimonial-left-content mt-lg-45 mt-md-30 mt-sm-15">
                       <div class="about_p">
                           <p>{{about.about_text}}</p>
                       </div>
                        
                       
                    </div> 
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-right-content mt-30">
                        <div class="quota">
                            <i class="lni lni-quotation"></i>
                        </div>
                        <div class="testimonial-content-wrapper testimonial-active">
                            {% for i in about_review %}
                            <div class="single-testimonial">
                                <div class="testimonial-text">
                                    <p class="text">{{i.review}}</p>
                                </div>
                                <div class="testimonial-author d-sm-flex justify-content-between">
                                    <div class="author-info d-flex align-items-center">
                                        <div class="author-image">
                                            {% image i.image width-100 %}
                                            <!-- <img src="{% static 'resources/images/author-1.jpg' %}" alt="author"> -->
                                        </div>
                                        <div class="author-name media-body">
                                            <h5 class="name">{{i.name}}</h5>
                                            <span class="sub-title">{{i.position}}</span>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div> 
                            {% endfor %}
                            
                            
                           
                        </div> 
                    </div>
                </div>
            </div> 
        </div> 
    </section>

   

    <!--<section id="faq" class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="faq-content mt-45">
                        <div class="about-title">
                            <h6 class="sub-title">A Little More About Us</h6>
                            <h4 class="title">Frequently Asked Questions <br> About Our Site</h4>
                        </div> 
                        <div class="about-accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Frequently Asked Question One</a>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text p_about">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat volutpat. Nullam lacinia felis.</p>
                                        </div>
                                    </div> 
                                </div> 
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Frequently Asked Question Two</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text p_about">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat volutpat. Nullam lacinia felis.</p>
                                        </div>
                                    </div>
                                </div> 
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Frequently Asked Question Three</a>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text p_about">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat volutpat. Nullam lacinia felis.</p>
                                        </div>
                                    </div>
                                </div> 
                                <div class="card">
                                    <div class="card-header" id="headingFore">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFore" aria-expanded="false" aria-controls="collapseFore">Frequently Asked Question Four</a>
                                    </div>
                                    <div id="collapseFore" class="collapse" aria-labelledby="headingFore" data-parent="#accordionExample">
                                        <div class="card-body p_about">
                                            <p class="text p_about">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat volutpat. Nullam lacinia felis.</p>
                                        </div>
                                    </div>
                                </div> 
                                <div class="card">
                                    <div class="card-header p_about" id="headingFive">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Frequently Asked Question Five</a>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                        <div class="card-body p_about">
                                            <p class="text p_about">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat volutpat. Nullam lacinia felis.</p>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div> 
                    </div> 
                </div>
                <div class="col-lg-7">
                    <div class="about-image mt-50">
                        <img src="assets/images/about.jpg" alt="about">
                    </div>
                </div>
            </div>
        </div> 
    </section> -->
 

    <section id="testimonial" class="testimonial-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-6">
                    <div class="testimonial-left-content mt-lg-45 mt-sm-15 mt-md-30>
                        <h4 class="title">What Clients Says <br> About Us</h4>
                        
                        <p class="text">{{about.what_client_say_text}}</p>
                    </div> 
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-right-content mt-50">
                        <div class="quota">
                            <i class="lni lni-testimonial lni-quotation"></i>
                        </div>
                        <div class="testimonial-content-wrapper testimonial-active">
                            {% for i in client_review %}
                            <div class="single-testimonial">
                                <div class="testimonial-text">
                                    <p class="text">{{i.review}}</p>
                                </div>
                                <div class="testimonial-author d-sm-flex justify-content-between">
                                    <div class="author-info d-flex align-items-center">
                                        <div class="author-image">
                                            {% image i.image width-100 %}
                                            <!-- <img src="{% static 'resources/images/author-1.jpg' %}" alt="author"> -->
                                        </div>
                                        <div class="author-name media-body">
                                            <h5 class="name">{{i.name}}</h5>
                                            <span class="sub-title">{{i.position}}</span>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div> 
                            {% endfor %}
                             
                            
                            
                        </div>
                    </div> 
                </div>
            </div> 
        </div> 
    </section>

  

    <section id="team" class="team-area pt-lg-120 pb-lg-130 pt-md-100 pt-sm-120 pb-md-50 pb-sm-30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-lg-30 pb-sm-15  mb-lg-3 mb-sm-1">
                        <h3 class="title">VISION & MISSION</h3>
                    </div> 
                    
                    
                </div>
            
           
                <div class="row">
                  <div class="col-md-6">
                    <div class="card card-1">
                      <h3>Vision</h3>
                      <p>{{visionmission.vision|richtext}}</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-2">
                      <h3>Mission</h3>
                      <p>{{visionmission.mission|richtext}}</p>
                    </div>
                  </div>
                 </div>
                 
                </div>
              
            
            <!-- <div class="row slick">
                <div class="col-lg-4 col-sm-6">
                    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="team-image">
                            <img src="{% static 'resources/images/award-1.jpg' %}" alt="Team">
                        </div>
                        <div class="team-content">
                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="team-name"><a href="#">Lorem ipsum</a></h4>
                            <span class="sub-title">Lorem ipsum dolor sit</span>
                        </div>
                    </div> 
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="team-image">
                            <img src="{% static 'resources/images/award-2.jpg' %}" alt="Team">
                        </div>
                        <div class="team-content">
                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="team-name"><a href="#">Lorem ipsum</a></h4>
                            <span class="sub-title">Lorem ipsum dolor sit amet</span>
                        </div>
                    </div> 
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="team-image">
                            <img src="{% static 'resources/images/award-3.jpg' %}" alt="Team">
                        </div>
                        <div class="team-content">
                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="team-name"><a href="#">Lorem ipsum dolor</a></h4>
                            <span class="sub-title">Lorem ipsum dolor sit</span>
                        </div>
                    </div> 
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="team-image">
                            <img src="{% static 'resources/images/award-1.jpg' %}" alt="Team">
                        </div>
                        <div class="team-content">
                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                                    <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="team-name"><a href="#">Lorem ipsum dolor</a></h4>
                            <span class="sub-title">Lorem ipsum dolor sit</span>
                        </div>
                    </div> 
                </div>
            </div>  -->
        </div>
    </section>

    

    <section id="contact" class="contact-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-30">
                        <h3 class="title">CONTACT US</h3>
                        <!-- <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p> -->
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-map mt-30">  
                        <iframe id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d498.6004265859398!2d103.85051751176076!3d1.2923600990574362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19a1350d10f1%3A0xe471fd72f9ffcba1!2sPeninsula%20Plaza%20Singapore!5e0!3m2!1sen!2snp!4v1604809094693!5m2!1sen!2snp" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div> <!-- row -->
                </div>
            </div> <!-- row -->
            <div class="contact-info pt-30">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-contact-info contact-color-1 mt-30 d-flex ">
                            <div class="contact-info-icon">
                                <i class="lni lni-map-marker"></i>
                            </div>
                            <div class="contact-info-content media-body">
                                <p class="text"> Address: 111, North Bridge Rd., Peninsula Plaza, Singapore </p>
                            </div>
                        </div> <!-- single contact info -->
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="single-contact-info contact-color-2 mt-30 d-flex">
                            <div class="contact-info-icon">
                                <i class="lni lni-envelope"></i>
                            </div>
                            <div class="contact-info-content media-body">
                                <p class="text">info@kismatpetroleum.com</p>
                                <p class="text">annie.sarceno@kismatpetroleum.com</p>
                            </div>
                        </div> <!-- single contact info -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-contact-info contact-color-3 mt-30 d-flex ">
                            <div class="contact-info-icon">
                                <i class="lni lni-phone"></i>
                            </div>
                            <div class="contact-info-content media-body">
                                <p class="text">+6591260210</p>
                                <!-- <p class="text">+333 985-458-609</p> -->
                            </div>
                        </div> 
                    </div>
                </div> 
            </div> 
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-wrapper form-style-two pt-115">
                        <h4 class="contact-title pb-10"><i class="lni lni-envelope"></i> Leave <span>A Message.</span></h4>
                        
                        <form id="contact-form" action="#" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-input mt-25">
                                        <label>Name</label>
                                        <div class="input-items default">
                                            <input name="name" type="text" placeholder="Name">
                                            <i class="lni lni-user"></i>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-md-6">
                                    <div class="form-input mt-25">
                                        <label>Email</label>
                                        <div class="input-items default">
                                            <input type="email" name="email" placeholder="Email">
                                            <i class="lni lni-envelope"></i>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-md-12">
                                    <div class="form-input mt-25">
                                        <label>Massage</label>
                                        <div class="input-items default">
                                            <textarea name="massage" placeholder="Massage"></textarea>
                                            <i class="lni lni-pencil-alt"></i>
                                        </div>
                                    </div> 
                                </div>
                                <p class="form-message"></p>
                                <div class="col-md-12">
                                    <div class="form-input light-rounded-buttons mt-30">
                                        <button class="main-btn light-rounded-two">Send Message</button>
                                    </div> 
                                </div>
                            </div> 
                        </form>
                    </div>
                </div>
            </div> 
        </div> 
    </section>

    <!--====== CONTACT PART ENDS ======-->
    
    <!--====== FOOTER PART START ======-->

    <section class="footer-area footer-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="footer-logo text-center">
                        <a class="mt-2" href="http://platinum-accounts.com"><img src="{% static 'resources/images/logo/logo.png' %}" alt="Logo"></a>
                    </div> <!-- footer logo -->
                    <ul class="social text-center mt-2">
                        <li><a href="https://facebook.com/uideckHQ"><i class="lni lni-facebook-filled"></i></a></li>
                        <li><a href="https://twitter.com/uideckHQ"><i class="lni lni-twitter-original"></i></a></li>
                        <li><a href="https://instagram.com/uideckHQ"><i class="lni lni-instagram-original"></i></a></li>
                        <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                    </ul> <!-- social -->
                    <div class="footer-support text-center">
                        <span class="number">+6591260210</span>
                        <span class="mail">info@kismatpetroleum.com</span>
                    </div>
                   
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
   

 
 

    
    <!-- <button class="open-button" onclick="openForm()">Got any query?</button>
    <div class="chat-popup" id="myForm">
        <form action="#" class="form-container">
          <h3>FAQs</h3>
      
         
          <textarea placeholder="Type message.." name="msg" required></textarea>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn1 btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn1 btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn1 btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>

      
          
          <button type="button" class="btn btn-sm cancel" onclick="closeForm()">Close</button>
        </form>
      </div> -->

    <!--====== FOOTER PART ENDS ======-->
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

  



    <!--====== Jquery js ======-->
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/modernizr-3.7.1.min.js' %}"></script>
    
    <!--====== Bootstrap js ======-->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    
    <!--====== Slick js ======-->
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    
    <!--====== Ajax Contact js ======-->
    <script src="{% static 'assets/js/ajax-contact.js' %}"></script>
    
    <!--====== Isotope js ======-->
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    
    <!--====== Scrolling Nav js ======-->
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/scrolling-nav.js' %}"></script>
    
    <!--====== Main js ======-->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'vendors/slick/slick/slick.min.js' %}"></script>
    
    <script>
   
        function openForm() {
            document.getElementById("myForm").style.display = "block";
            }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
            }
        $(document).ready(function () {

            $(".slides").slick({
                autoplay: true,
                mobileFirst: true,//add this one
            }

                $('.carousel').carousel({
                    interval:3000,
                });
                $('.team-area .container .slick, .features-area .container .slick').slick({
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    accessibility: true,
                    arrows: true,
                });
            });
    </script>
    <style>
        
        .cardtext{
            color: rgb(49, 49, 49) !important;
            font-size:25px;
            text-align:center;
            font-weight: 600;
        }
      
        .wcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
       

       

      
     .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
  color:rgb(34, 33, 33);
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
   background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}



@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 

    </style>
 
</body>

</html>
